/venv/
.idea
db.sqlite3
personal_portfolio_ondj/__pycache__/
blog/__pycache__
blog/migrations
portfolio/__pycache__
portfolio/migrations
static/
media/
*/__pycache__
__pycache__
/personal_portfolio_ondj/local_settings.py