{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1 class="text-center mt-5">this is autharization page</h1>


    <form action="{% url 'authapp:auth_login_url' %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
        {% for field in fields %}
            {% if field.errors %}
                <div class="container col-6 alert alert-danger">
                    <p>{{ field.errors }}</p>
                </div>
            {% endif %}
            <div class="container col-6">
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}
        <br>
        <div class="container col-6">
            <input class="form-control btn btn-outline-secondary" type=submit value="войти">
        </div>
    </form>
    <div class="container mt-2 col-6">
        <p class="justify-content-center d-flex btn btn-outline-secondary">регистрация</p>
    </div>
{% endblock %}