{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="text-center mt-5">this is autharization page</h1>


    <form action="{% url 'authapp:auth_main_url' %}">
        {% csrf_token %}
        {% for field in fields %}

            {% if field.errors %}
                <div class="alert alert-danger">
                    {{ field.errors }}
                </div>
            {% endif %}

            <div class="container col-4 mt-5">
                <p>{{ field.label }}</p>
                <p>{{ field }}</p>

            </div>
        {% endfor %}
        <div class="container col-4 mt-5">
            {#            <button type="submit" class="btn btn-outline-success">Log in#}
            <a href="#" style="text-decoration: none;" class="btn btn-outline-success" type="submit">
                Log in
            </a>
            {#            </button>#}
            <a href="#" style="text-decoration: none;" class="btn btn-outline-success">
                Sign up
            </a>
            <a href="#" style="text-decoration: none;" class="btn btn-outline-success">
                Back
            </a>
        </div>
    </form>

{% endblock %}