{% extends 'base.html' %}
{% load static %}


{% block title %}
    @machukhinktato area {{ block.super }}
{% endblock %}

{% block content %}
    <form action="{% url 'todo_create_url' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
{#            <div class="container">#}
            <div class="container form-group mt-5">
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}
    <div class="container">
        <button type="submit" class="btn btn-secondary mt-5">Create Post</button>
    </div>
    </form>
{% endblock %}